ul{
  list-style: none;
}
.delete{
  background-color: #ff4d4f;
  border: none;
  color: #fff;
}
.edit{
  background-color: #ffa940;
  color: #fff;
  border: none;
  padding: .2rem;
}
.ant-select-single{
  width: 60%;
}

/* .ant-layout-content{
  display: flex;
  justify-content: center;
  width: 100%;
} */